<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Meeting Streaming</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css?v=2" />
    </head>
    <body>
        <div id="app" class="page-header text-center">
            <h1>
                <a href="index.html">{{ name }}</a>
            </h1>
            <h2 v-show="congregation.name">
                {{ congregation.name }}
            </h2>
            <br />
            <br />
            <div v-show="message" class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div class="alert alert-danger">
                            <strong>Note:</strong> {{ message }}
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="congregation.name.length==0" class="gc-action-button-wrapper">
                <div class="container-fluid">
                    <div v-for="cong in congregations" class="row">
                        <div class="col-md-offset-5 col-md-2">
                            <a class="btn btn-default btn-info" href="#" @click="loadCong(cong.url)" title="Live Stream">{{ cong.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="congregation.name.length" class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
                        <div class="cognito"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="videoWrapper" v-show="showVideo" class="videoWrapper">
                        <iframe v-show="youtubeUrl" :src="youtubeUrl" frameborder="0" allowfullscreen modestbranding></iframe>
                    </div>
                </div>
                <div v-show="congregation.videos.length" class="row">
                    <br /><br />
                    <div class="col-md-offset-2 col-md-8">
                        <div class="alert alert-info">
                            Below are recently recorded meeting videos.
                        </div>
                    </div>
                </div>
                <div v-for="videoId in congregation.videos" class="row">
                    <br />
                    <div class="videoWrapper">
                        <iframe :src="recordingUrl(videoId)" frameborder="0" allowFullScreen modestbranding></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert-container" class="container-fluid">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="alert alert-info">
                        <strong>Please Note:</strong> Live streaming is only available during meeting times.
                    </div>
                </div>
            </div>
        </div>
        <div id="copyright-container" class="gc-page-footer">
            <small>Copyright &copy; 2018. All rights Reserved.</small>
        </div>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
        <script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
        <script language="javascript" src="app.js?v=4"></script>
    </body>
</html>